.container_list_cards {
  position: absolute;
  width: 700px;
  height: auto;
  left: 680px;
  top: 122px;
  max-width: 25%;
}
.container_filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.container_filters p {
  font-weight: 700;
  font-size: 16px;
  color: #212529;
}
.btns_filter {
  display: flex;
  gap: 8px;
}
.btns_filter button {
  width: 60px;
  height: 30px;
  background: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
}
.btns_filter button:hover {
  background: #fd377e;
  border: 1.4px solid #fd377e;
  border-radius: 8px;
  color: #e9ecef;
}
@media (max-width: 720px) {
  .container_list_cards {
    left: 138px;
    top: 620px;
  }
}
@media (min-width: 1500px) {
  .container_list_cards {
    left: 54%;
  }
}
@media (min-width: 722px) and (max-width: 1000px) {
  .container_list_cards {
    left: 515px;
  }
}
@media (max-width: 850px) {
  .container_filters {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
