.container_total_money {
  border: 1px solid #e9ecef;
  position: absolute;
  width: 363px;
  height: 96px;
  left: 258px;
  top: 494px;
  max-width: 50%;
}
.value_total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  margin-top: 10px;
}
.value_total span {
  font-weight: 700;
  font-size: 16px;
  color: #fd377e;
}
.container_total_money p {
  height: 0px;
  font-size: 14px;
  margin-left: 66px;
}

@media (max-width: 650px) {
  .container_total_money {
    left: 70px;
  }
}
@media (min-width: 1500px) {
  .container_total_money {
    left: 30%;
  }
}
@media (max-width: 1000px) {
  .container_total_money {
    left: 140px;
  }
}
@media (min-width: 320px) and (max-width: 450px) {
  .container_total_money {
    left: 80px;
  }
}
